body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #212529;
    padding-top: 30px;
}

img {
    margin-top: -30px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #26a645;
}

.topnav a.active {
    font-weight: bold;
    font-weight: 700;
    color: white;
}

.topnav .icon {
    display: none;
}

#utente {
    font-size: 30px;
    color: aquamarine;
    margin-left: 45%;
}

#logout {
    color: #ec5d2d;
}

#logout:hover {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    #utente {
        font-size: 20px;
        color: aquamarine;
        margin-left: 45%;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}