<div class="topnav" id="myTopnav">
    <a style="background-color: #212529;"><img src="assets/icon/bib_logo_w.png" height="87" alt="logo" style="margin-left: 30px;"></a>
    <!--attivato sempre-->
    <a [routerLink]="['/']" class="active">Home</a>
    <!--fine-->

    <!--Disattivati se loggati-->
    <a [routerLink]="['/login3']" class="" *ngIf="!BasicAuth.restituisceBooleanoSeUtenteEloggato()" href="" onclick="">Login</a>
    <a [routerLink]="['/registrazione']" class="" *ngIf="!BasicAuth.restituisceBooleanoSeUtenteEloggato()" href="" onclick="">Registrati</a>
    <!--fine-->

    <!--Attivi se loggati-->

    <a class="" [routerLink]="['/biblioteca']" *ngIf="BasicAuth.restituisceBooleanoSeUtenteEloggato()" href="" onclick="">Biblioteca</a>
    <a [routerLink]="['/utenti']" *ngIf="BasicAuth.restituisceBooleanoSeUtenteEloggato()" href="" onclick="">Utenti</a>
    <a id="logout" class="" [routerLink]="['/logout']" *ngIf="BasicAuth.restituisceBooleanoSeUtenteEloggato()" href="" onclick="">Logout</a>
    <!--mostra l'utente-->
    <a id="utente" *ngIf="BasicAuth.restituisceBooleanoSeUtenteEloggato()" href="" onclick="">Utente: {{BasicAuth.restituisceNomeUtenteLoggato()}} </a>

    <!--fine-->

    <!-- claudio
    <a routerLink="{{rout}}" (click)='routeChange()' class=" pageName " ng-bind="$root.name ">{{log}}</a>
   -->



    <!--per menu responsive-->
    <a href="javascript:void(0); " class="icon " onclick="myFunction() ">
        <i class="fa fa-bars fa-2x "></i>
    </a>
</div>




<script>
    function myFunction() {
        var x = document.getElementById("myTopnav ");
        if (x.className === "topnav ") {
            x.className += " responsive ";
        } else {
            x.className = "topnav ";
        }
    }
</script>