<div class="contenitoreForm">
    <div class="immagine"><img src="assets/icon/User.png" alt=""></div>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" [(ngModel)]="form.nome" required minlength="3" maxlength="20" #nome="ngModel">
            <div class="alert-danger" *ngIf="nome.errors && f.submitted">
                <div *ngIf="nome.errors.required">Il campo nome è obbligatorio</div>
                <div *ngIf="nome.errors.minlength">
                    Il campo nome deve avere almeno 3 caratteri
                </div>
                <div *ngIf="nome.errors.maxlength">
                    Il campo nome deve avere massimo 20 caratteri
                </div>
            </div>

            <div class="form-group">
                <label for="cognome">Cognome</label>
                <input type="text" class="form-control" name="cognome" [(ngModel)]="form.cognome" required maxlength="20" #cognome="ngModel">
                <div class="alert-danger" *ngIf="cognome.errors && f.submitted">
                    <div *ngIf="cognome.errors.required">Il campo cognome è obbligatorio</div>
                    <div *ngIf="cognome.errors.minlength">
                        Il campo cognome deve avere almeno 3 caratteri
                    </div>
                    <div *ngIf="cognome.errors.maxlength">
                        Il campo cognome deve avere massimo 20 caratteri
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel">
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">Il campo E-mail è obbligatorio</div>
                    <div *ngIf="email.errors.email">
                        Inserisci una E-mail valida
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="8" maxlength="8" #password="ngModel">
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">Il campo password è obbligatorio</div>
                    <div *ngIf="password.errors.minlength">
                        La password deve essere esattamente di 8 caratteri
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Registrati</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Registrazione fallita!<br> {{errorMessage}}
            </div>
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
        Registrazione Effettuata!
    </div>
</div>