<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarmia">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">
        <img src="assets/icon/bib_logo_w.png" height="70" alt="CoolBrand">
    </a>

    <div class="collapse navbar-collapse font2" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li role="presentation" class="nav-item">
                <a routerLink="/homepage" class="nav-link">Home</a>
            </li>
            <li role="presentation" class="nav-item">
                <a routerLink="/visualizzaLista" class="nav-link">Libri</a>
            </li>
            <li role="presentation" class="nav-item">
                <a routerLink="/accesso" class="nav-link">Login</a>
            </li>
        </ul>
    </div>
</nav>