<div class="homePage">



    <form modelAttribute="getUtente" action="LoginServlet" method="post">
        <div class="login">
            <div class="contenitoreAvatar">
                <img src="assets/old-images/avatar.png" alt="Avatar" class="avatar">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input path="email" class="form-control" placeholder="Email" type="email" />
                <!--  <errors path="email" cssClass="error" /> -->

            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input path="password" class="form-control" placeholder="Password" type="password" />
                <!-- <errors path="password" cssClass="error" /> -->
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-success w-100 mb-3">Accedi</button>

            <a href="registrazione" class="btn buttonRegistrati w-100">Registrati</a>
            <div>
                <div class="text-center  font-weight-bold font-italic">

                    <!--  <h5 style="color:red; display: ${utenteNonRegistrato ? 'block' : 'none'}">
                        Utente non registrato</h5>
                    -->
                </div>
                <div class="text-center  font-weight-bold font-italic">
                    <!-- <h5 style="color:black; display: ${registrazioneEseguita ? 'block' : 'none'}">
                        Registrazione avvenuta con successo</h5>
                         -->
                </div>

            </div>
        </div>