<div class="contenitoreForm">
    <div class="immagine"><img src="assets/icon/logoLibroTrasparente.png" alt=""></div>

    <!--E-mail-->
    <form *ngIf="!isUtenteConnesso" name=form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                L'E-Mail è obbligatoria
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="8" #password="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">La password è obbligatoria</div>
                <div *ngIf="password.errors.minlength">
                    La password deve essere esattamente di 8 caratteri
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFallito">Login Fallito: {{errorMessage}}</div>
        </div>

    </form>
    <div class="alert alert-success" *ngIf="isUtenteConnesso">Utente connesso come: {{roles}}</div>

</div>