<!--<div class="footer">
    <div class="row">
        <div class="col-8">
            <p class="scrittaFooter">
                Email: amministrazione@bibliotecaprimas.com <br /> Tel: 098.76453672 <br /> ©2022 - Istituto Centrale per il Catalogo Unico delle Biblioteche Italiane e per le Informazioni Bibliografiche<br/>
            </p>
        </div>
        <div class="col-4 immagineSocial">
            <img class="img-thumbnail" style="width: 140px" src="assets/old-images/social.png" alt="" />
        </div>
    </div>
</div>
-->
<div class="footer2">
    <div class="scritte">
        <h6> Email: amministrazione@bibliotecaprimas.com</h6>
        <h6> Tel: 098.76453672</h6>
        <h6> ©2022 - Istituto Centrale per il Catalogo Unico delle Biblioteche Italiane e per le Informazioni Bibliografiche</h6>
    </div>
    <div class="socialIconRaf">
        <a href="https://it-it.facebook.com/"><img src="assets/icon/fb_logo_minimal_w.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/"><img src="assets/icon/ig_logo_minimal_w.png" alt="Instagram"></a>
        <a href="https://web.telegram.org/#/login"><img src="assets/icon/tg_logo_minimal_w.png" alt="Telegram"></a>
        <a href="https://www.whatsapp.com/?lang=it"><img src="assets/icon/wa_logo_minimal_w.png" alt="whatsapp"></a>
    </div>
</div>