<h1>
    UTENTI</h1>
<table id="articoli" class="tabella">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Gestisci</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let utente of arrayUtenti">
            <td>{{utente.id}}</td>
            <td>{{utente.name}}</td>
            <td>{{utente.cognome}}</td>
            <td>{{utente.email}}</td>
            <td>{{utente.password}}</td>
            <td class="text-center">
                <button class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
                Delete</button>
            </td>
        </tr>
    </tbody>
</table>