<div class="contenitoreForm">
    <div class="immagine"><img src="assets/icon/logoLibroTrasparente.png" alt=""></div>

    <!--E-mail-->
    <form [formGroup]="loginform" class="form">
        <div class="classeInput ">
            <h5>E-mail</h5>
            <input type="email" placeholder="Inserisci e-mail " formControlName="email" [(ngModel)]="email2">
            <span class="error" style="color:red; " *ngIf="email.invalid && email.touched"> Errore e-mail</span>
        </div>



        <!--Password-->
        <div class="classeInput ">
            <h5>Password</h5>
            <input type="password" placeholder="•••••••••••••••• " maxlength="8" formControlName="password" [(ngModel)]="password2">
            <span class="error" style="color:red" *ngIf="password.invalid && password.touched"> La password deve avere 8 caratteri</span>
        </div>


        <!--messaggio controllo campi vuoti-->
        <div *ngIf="campivuoti; else showMsg2 "></div>

        <ng-template #showMsg2>
            <h5 style="color: red; margin-top:-10px">Inserisci e mail e password</h5>
        </ng-template>
        <!--fine messaggio controllo campi vuoti-->

        <!--messaggio controllo credenziali-->
        <div *ngIf="erroreCredenziali; else showMsg3 "></div>

        <ng-template #showMsg3>
            <h5 style="color: red; margin-top:-10px ">Errore credenziali</h5>
        </ng-template>

        <!--fine messaggio controllo credenziali  (click)="verificaCredenzialiServizi()""    -->
        <button type="submit " (click)="verificaSeRegistrato()">Login</button>
        <button type="submit " [routerLink]="[ '/registrazione'] ">Registrati</button>
    </form>

</div>