 
<br/>
<h1 class="text-center">
  UTENTI</h1>
  <br/>
<div class="container-fluid">
    <header class="jumbotron">
     <!-- <p>{{ content }}</p> 
    </header>
  </div>

  <h1>
    UTENTI</h1>-->
<table id="articoli" class="tabella table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ruolo(i)</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let utente of content">
          <td scope="row">{{ utente.id }}</td>
          <td scope="row">{{ utente.nome }}</td>
          <td scope="row">{{ utente.cognome }}</td>
          <td scope="row">{{ utente.email }}</td>
          <td scope="row"> 
            <div p *ngFor="let ruolo of utente.roles">  
            <div *ngIf="ruolo.id === 1">
            ADMIN
            </div>
          <div *ngIf="ruolo.id === 2">
            UTENTE
          </div>
        </div>
             </td>
        </tr>
    </tbody>
</table>
</header>
</div>
