<div class="container">
    <header class="jumbotron">
    <!-- <p>{{ content }}</p> -->
    <h1 class="text-center">BIBLIOTECA</h1>
    </header>
  </div>
  <div class="cards">


    <article class="card">

        <h2>Lista libri</h2>

        <img src="/assets/old-images/listaLibri.jpg" alt="">
        <div class="content">
            <p>Elenco dei libri presenti nella biblioteca</p>
        </div>
        <footer> <button type="submit" [routerLink]="['/libri']">Visualizza</button></footer>
    </article>


    <article class="card">

        <h2>Aggiungi libro</h2>

        <img src="/assets/old-images/listaLibri.jpg" alt="">
        <div class="content">
            <p>Aggiungi libro nella biblioteca</p>
        </div>
        <footer> <button type="submit" [routerLink]="['/aggiungiLibro']">Aggiungi</button></footer>
    </article>

    <article class="card">

        <h2>Rimuovi libro</h2>

        <img src="/assets/old-images/listaLibri.jpg" alt="">
        <div class="content">
            <p>Rimuovi libro dalla biblioteca</p>
        </div>
        <footer> <button type="submit" [routerLink]="['/rimuoviLibro']"> Rimuovi </button></footer>
    </article>

</div>
