.footer2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #26a645;
    padding-top: 5px;
}

img {
    width: 40px;
    height: 40px;
}

.socialIconRaf {
    display: flex;
    justify-content: center;
}

a {
    padding: 10px;
}